<app-header></app-header>
<mat-toolbar>
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>list</mat-icon>
  </button>
  <span>My App</span>
  <span class="w-100"></span>

  <h3>Usuario</h3>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon mat-color-red>logout</mat-icon>
  </button>

</mat-toolbar>

<router-outlet></router-outlet>

<app-footer></app-footer>
