<h1>{{ title }}</h1>
<hr />

<form (ngSubmit)="save()" [formGroup]="myForm" class="d-flex flex-column">
  <mat-form-field appearance="fill">
    <mat-label>Reconocimientos</mat-label>
    <input
      matInput
      type="number"
      formControlName="examsRequired"
      [disabled]="meeting && meeting.examsDone > 0"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha de la cita</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="date"
      [disabled]="meeting && meeting.examsDone > 0"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="meeting && meeting.examsDone > 0"
  >
    Guardar
  </button>
  <br />
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
</form>
