<mat-sidenav-container class="sidenav-container" hasBackdrop="true">
  <mat-sidenav #drawer class="sidenav" fixedInViewport mode="over">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let route of routes" mat-list-item [routerLink]="route.path">{{
        route.title
      }}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="d-flex h-auto p-2 flex-row flex-wrap justify-content-between">
      <div class="d-flex align-items-center">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>{{ title }}</span>
      </div>

      <div class="d-flex align-items-center justify-content-end flex-grow-1">
        <span class="text-username">{{ user?.username }}</span>
        <button mat-button>
          <mat-icon class="text-logout">logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
