/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-opacity-6 {
  background-color: rgba(255, 255, 255, 0.8);
  background-size: cover;
}
